html{
  font-size: 1.0em; /* 16px */
  line-height: 1.25em; /* 20px*/
  text-rendering: optimizeLegibility;
}

body{
  font-family: 'Exo', sans-serif;
  color: black;
  background-color:#F0F0F0;
  padding-top:20px;

}
form{
  border-radius: 7px;
}
label{
  display:block;
  padding: 5px;
  text-align: center
  
}

h1 {
  font-size: 2.25em; 
  line-height: 1.618em; 
  font-style: normal; 
  font-weight: normal;
	text-align: center;
} 

h2 {
  font-size: 1.618em; 
  line-height: 1.618em; 
  font-style: normal;
  font-weight: normal;
	text-align: center;
} 

p {
  font-size: 1em; 
  line-height: 1.618em;
  font-style: normal;
  font-weight: normal;
	text-align: center;
}